body {
  margin: 0;
  padding: 2%;
  background-color: #9CA3AF;
  background-image: url('/black-linen-2.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-v90 {
  height: 80vh;
}

.w-3\/10 {
  width: 30%;
}
